* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: bisque;
    width: 100vw;
    height: 100vh;
}

.image-box {

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 250px;
    /* background-color: darkblue; */

}

.image {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition-duration: .4s;
}



.active {
    opacity: 1;
}

button {
    background-color: transparent;
    color: #fff;

    border: none;
    font-size: 20px;
    cursor: pointer;
    opacity: .5;
    transition-duration: .3s;
    z-index: 100;

}

button:hover {
    opacity: .9;

}

#button-left {

    position: absolute;
    top: 50%;
    left: 29.5%;
    transform: translate(0, -50%);


}

#button-right {
    position: absolute;
    top: 50%;
    left: 68.5%;
    transform: translate(0, -50%);


}